body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  select,
  input[type="text"],
  input[type="button"] {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-appearance: none;
  }
  
  table {
    margin: 20px auto;
    border-collapse: collapse;
  }
  
  td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  input[type="button"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="button"]:hover {
    background-color: #3e8e41;
  }
  